In [1]:
import sqlite3

In [2]:
con=sqlite3.connect("stud190.db")

In [3]:
cur=con.cursor()

In [4]:
table1="create table if not exists stud(id int primary key,name text)"

In [8]:
table2="create table if not exists stud_details(id int PRIMARY KEY,city text,mobileno int,FOREIGN KEY (id) references stud(id))"

In [9]:
cur.execute(table1)

In [10]:
cur.execute(table2)

In [11]:
con.commit()

In [27]:
l1=[]

In [30]:
l2=[]

In [29]:
q1="insert into stud values(?,?)"
for i in range(1,11):
    name=(input("Enter A Student name :"))
    t1=(i,name)
    l1.append(t1)
cur.executemany(q1,l1)

Enter A Student name :om
Enter A Student name :sai
Enter A Student name :ram
Enter A Student name :kishan
Enter A Student name :radja
Enter A Student name :jay
Enter A Student name :kunal
Enter A Student name :neel
Enter A Student name :kevin
Enter A Student name :shiv

In [31]:
q2="insert into stud_details values(?,?,?)"
for i in range(1,11):
    city=input("Enter a City :")
    mobileno=int(input("Enter a Mobile Number :"))
    t2=(i,city,mobileno)
    l2.append(t2)
cur.executemany(q2,l2)

Enter a City :surat
Enter a Mobile Number :9313405913
Enter a City :bardoli
Enter a Mobile Number :9656446632
Enter a City :mumbai
Enter a Mobile Number :9865321478
Enter a City :bhuj
Enter a Mobile Number :9869362545
Enter a City :bharuch
Enter a Mobile Number :7685954535
Enter a City :bardoli
Enter a Mobile Number :8565352516
Enter a City :surat
Enter a Mobile Number :8565253515
Enter a City :vyara
Enter a Mobile Number :8565251545
Enter a City :bardoli
Enter a Mobile Number :8545653525
Enter a City :kolkata
Enter a Mobile Number :8565452535

In [33]:
con.commit()

In [34]:
query1="select stud.name,stud_details.city from stud INNER JOIN stud_details ON stud.id=stud_details.id WHERE stud_details.city='surat'"

In [35]:
cur.execute(query1)

In [36]:
suratrec=cur.fetchall()

In [38]:
for i in suratrec:
    print("Student Name is :{}".format(i[0]))
    print("Student City is :{}".format(i[1]))

Student Name is :om
Student City is :surat
Student Name is :kunal
Student City is :surat

In [39]:
query2="select stud.name,stud_details.city from stud INNER JOIN stud_details ON stud.id=stud_details.id WHERE stud_details.city LIKE 'b%'"

In [41]:
cur.execute(query2)

In [42]:
brec=cur.fetchall()

In [43]:
for i in brec:
    print("Student Name is :{}".format(i[0]))
    print("Student City is :{}".format(i[1]))

Student Name is :sai
Student City is :bardoli
Student Name is :kishan
Student City is :bhuj
Student Name is :radja
Student City is :bharuch
Student Name is :jay
Student City is :bardoli
Student Name is :kevin
Student City is :bardoli

In [45]:
query3='''update stud_details SET mobileno='9876543210' WHERE city="surat"'''

In [46]:
cur.execute(query3)

In [47]:
con.commit()

In [48]:
con.close()