In [1]:
import sqlite3

In [2]:
con=sqlite3.connect("ESM.db")

In [3]:
create="create table if not exists Employee(eid initeger primary key,ename text,dept text,basic int,branch text)"

In [4]:
cur=con.cursor()

In [5]:
cur.execute(create)

In [6]:
con.commit()

In [7]:
dirctinsert="insert into Employee values(1,'om','IT',5000,'surat'),(2,'sai','HR',500,'bardoli'),(3,'ram','Account',1500,'bharuch'),(4,'radha','Inventory',4000,'vyara'),(5,'gopal','IT',5500,'surat')"

In [24]:
cur.execute(dirctinsert)

In [8]:
tupleinsert=[
    (6, 'charvin', 'IT', 4800.0, 'surat'),
    (7, 'kunal', 'IT', 5200.0, 'bardoli'),
    (8, 'haary', 'Inventory', 5500.0, 'bharuch'),
    (9, 'tom', 'IT', 4900.0, 'vyara'),
    (10, 'berlin', 'Account', 5100.0, 'bardoli')
]

In [26]:
cur.executemany("insert into Employee values(?,?,?,?,?)",tupleinsert)

In [9]:
con.commit()

In [28]:
userinsert="insert into Employee values(?,?,?,?,?)"
l=[]
for i in range(11,16):
    ename=input("Enter a Name :")
    dept=input("Enter a Department :")
    basic=int(input("Enter a Basic Salary :"))
    branch=input("Enter a Branch :")
    t=(i,ename,dept,basic,branch)
    l.append(t)
cur.executemany(userinsert,l)

Enter a Name :nil
Enter a Department :IT
Enter a Basic Salary :5000
Enter a Branch :surat
Enter a Name :raju
Enter a Department :Account
Enter a Basic Salary :4500
Enter a Branch :mumbai
Enter a Name :fenil
Enter a Department :HR
Enter a Basic Salary :3000
Enter a Branch :surat
Enter a Name :krish
Enter a Department :Inventory
Enter a Basic Salary :2500
Enter a Branch :bardoli
Enter a Name :keval
Enter a Department :HR
Enter a Basic Salary :3000
Enter a Branch :bhuj

In [10]:
con.commit()

In [11]:
query3="update Employee SET basic=basic+(basic/10) Where branch='surat'"

In [12]:
cur.execute(query3)

In [13]:
con.commit()

In [14]:
query4="select * from Employee"

In [15]:
cur.execute(query4)

In [16]:
rec=cur.fetchall()

In [17]:
for record in rec:
    print(record)

(1, 'om', 'IT', 6050, 'surat')
(2, 'sai', 'HR', 500, 'bardoli')
(3, 'ram', 'Account', 1500, 'bharuch')
(4, 'radha', 'Inventory', 4000, 'vyara')
(5, 'gopal', 'IT', 6655, 'surat')
(6, 'charvin', 'IT', 5808, 'surat')
(7, 'kunal', 'IT', 5200, 'bardoli')
(8, 'haary', 'Inventory', 5500, 'bharuch')
(9, 'tom', 'IT', 4900, 'vyara')
(10, 'berlin', 'Account', 5100, 'bardoli')
(11, 'nil', 'IT', 6050, 'surat')
(12, 'raju', 'Account', 4500, 'mumbai')
(13, 'fenil', 'HR', 3630, 'surat')
(14, 'krish', 'Inventory', 2500, 'bardoli')
(15, 'keval', 'HR', 3000, 'bhuj')

In [18]:
con.commit()

In [19]:
query5="select * from Employee where dept IN ('HR','IT')"

In [20]:
cur.execute(query5)

In [21]:
deptrec=cur.fetchall()

In [22]:
for rec in deptrec:
    print(rec)

(1, 'om', 'IT', 6050, 'surat')
(2, 'sai', 'HR', 500, 'bardoli')
(5, 'gopal', 'IT', 6655, 'surat')
(6, 'charvin', 'IT', 5808, 'surat')
(7, 'kunal', 'IT', 5200, 'bardoli')
(9, 'tom', 'IT', 4900, 'vyara')
(11, 'nil', 'IT', 6050, 'surat')
(13, 'fenil', 'HR', 3630, 'surat')
(15, 'keval', 'HR', 3000, 'bhuj')

In [23]:
con.commit()

In [24]:
query7="select * from Employee where basic > 6000"

In [25]:
cur.execute(query7)

In [26]:
basicrec=cur.fetchall()

In [27]:
for record in basicrec:
    print(record)

(1, 'om', 'IT', 6050, 'surat')
(5, 'gopal', 'IT', 6655, 'surat')
(11, 'nil', 'IT', 6050, 'surat')

In [28]:
con.commit()

In [29]:
query8="select * from Employee where ename LIKE '_r%'"

In [30]:
cur.execute(query8)

In [31]:
secondchar=cur.fetchall()

In [32]:
for record in secondchar:
    print(record)

(14, 'krish', 'Inventory', 2500, 'bardoli')

In [33]:
con.commit()

In [34]:
query9="select * from Employee where dept IN ('Account','Inventory')"

In [35]:
cur.execute(query9)

In [36]:
accinv=cur.fetchall()

In [37]:
for record in accinv:
    print(record)

(3, 'ram', 'Account', 1500, 'bharuch')
(4, 'radha', 'Inventory', 4000, 'vyara')
(8, 'haary', 'Inventory', 5500, 'bharuch')
(10, 'berlin', 'Account', 5100, 'bardoli')
(12, 'raju', 'Account', 4500, 'mumbai')
(14, 'krish', 'Inventory', 2500, 'bardoli')

In [38]:
con.commit()

In [39]:
query10="select * from Employee ORDER BY branch DESC"

In [40]:
cur.execute(query10)

In [41]:
branchrec=cur.fetchall()

In [42]:
for record in branchrec:
    print(record)

(4, 'radha', 'Inventory', 4000, 'vyara')
(9, 'tom', 'IT', 4900, 'vyara')
(1, 'om', 'IT', 6050, 'surat')
(5, 'gopal', 'IT', 6655, 'surat')
(6, 'charvin', 'IT', 5808, 'surat')
(11, 'nil', 'IT', 6050, 'surat')
(13, 'fenil', 'HR', 3630, 'surat')
(12, 'raju', 'Account', 4500, 'mumbai')
(15, 'keval', 'HR', 3000, 'bhuj')
(3, 'ram', 'Account', 1500, 'bharuch')
(8, 'haary', 'Inventory', 5500, 'bharuch')
(2, 'sai', 'HR', 500, 'bardoli')
(7, 'kunal', 'IT', 5200, 'bardoli')
(10, 'berlin', 'Account', 5100, 'bardoli')
(14, 'krish', 'Inventory', 2500, 'bardoli')

In [43]:
con.commit()

In [44]:
query6="select * from Employee ORDER BY dept ASC"

In [45]:
cur.execute(query6)

In [46]:
assrec=cur.fetchall()

In [47]:
for record in assrec:
    print(record)

(3, 'ram', 'Account', 1500, 'bharuch')
(10, 'berlin', 'Account', 5100, 'bardoli')
(12, 'raju', 'Account', 4500, 'mumbai')
(2, 'sai', 'HR', 500, 'bardoli')
(13, 'fenil', 'HR', 3630, 'surat')
(15, 'keval', 'HR', 3000, 'bhuj')
(1, 'om', 'IT', 6050, 'surat')
(5, 'gopal', 'IT', 6655, 'surat')
(6, 'charvin', 'IT', 5808, 'surat')
(7, 'kunal', 'IT', 5200, 'bardoli')
(9, 'tom', 'IT', 4900, 'vyara')
(11, 'nil', 'IT', 6050, 'surat')
(4, 'radha', 'Inventory', 4000, 'vyara')
(8, 'haary', 'Inventory', 5500, 'bharuch')
(14, 'krish', 'Inventory', 2500, 'bardoli')

In [48]:
con.commit()

In [49]:
con.close()